$icons-fontSize: 1.5em;
$elements-color: rgb(235, 39, 72);
$second-backgroundColor: rgb(59, 55, 55);
$brightFont-color: rgb(248, 246, 246);
$main-font: 'Arimo',
sans-serif;
$second-font:'Nunito Sans',
sans-serif;

@mixin basicButton() {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin pinkButton() {
    background-color: $elements-color;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
    font-family: $main-font;
    color: white;
    font-family: $main-font;
}

@mixin coverElement($translationValue) {
    transform: translateX($translationValue);
}

$small-phone-width: 380px;
$bigger-phone-width: 650px; // check if 600px is fine too(more phones)
$small-tablet-width: 768px;
$bigger-tablet-width: 1024px;
$small-desktop-width: 1350px;

@mixin breakpoint($type) {
    @if $type==small_phone {
        @media screen and (min-width: #{$small-phone-width}) {
            @content;
        }
    }

    @else if $type==phone_portrait {
        @media only screen and (min-width: #{$bigger-phone-width}) {
            @content;
        }
    }

    @else if $type==small_tablet {
        @media only screen and (min-width: #{$small-tablet-width}) and (min-height: 420px

            /*#{$small-phone-width}*/
        ) {
            @content;
        }
    }

    @else if $type==bigger_tablet {
        @media only screen and (min-width: #{$bigger-tablet-width}) {
            @content;
        }
    }

    @else if $type==tablet_portrait {
        @media only screen and (min-height: #{$bigger-phone-width}) and (min-width: #{$bigger-tablet-width}) {
            @content;
        }
    }

    @else if $type==small_desktop {
        @media only screen and (min-width: #{$small-desktop-width}) {
            @content;
        }
    }

}